<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    <div class="header">
        <div class="store-info">
            <div>CÔNG TY TNHH THƯƠNG MẠI VÀ TIN HỌC TÚ NGUYỆT</div>
            <div>Showroom: 172 Lê Thanh Nghị - Phường Đồng Tâm - Quận Hai Trưng - Hà Nội</div>
            <div>ĐT: 04.36230369 - 04.36288790</div>
            <div>Website: www.tncstore.vn</div>
            <div>Facebook: www.facebook.com/tncstore</div>
        </div>
    </div>
    <div class="order-container">
        <div class="title">Báo giá thiết bị</div>
        <div class="header">
            <div class="store-info">
                <div>Khách hàng: {{CustomerName}}</div>
                <div>Địa chỉ: {{Address}}</div>
                <div>Số điện thoại: {{Phone}}</div>
                <div>Trị giá: {{Total}} </div>
            </div>
        </div>
        </br>
        <ul>
            ĐIỀU KIỆN BẢO HÀNH:
            </br>
            <li> Tất cả các máy tính và thiết bị bảo hành theo tiêu chuẩn của nhà sản xuất và bảo hành tại công ty</li>
            <li>
                 Nhận hàng bảo hành từ 14h trở đi vào tất cả các buổi chiều trong tuần, tại Số 172 Lê Thanh Nghị - Phường Đồng Tâm -
                Quận Hai Trưng - Hà Nội
            </li>
        </ul>
        <ul>
            NHỮNG TRƯỜNG HỢP KHÔNG ĐƯỢC BẢO HÀNH:
            </br>
            <li> Hư hỏng do thiên tai, nguồn điện không ổn định, động vật côn trùng làm hỏng, cháy nổ, rạn nứt, rộp IC</li>
            <li>Phiếu bảo hành hoặc tem bảo hành bị nứt, rách, không nguyên vẹn, bị sửa đổi, tẩy xóa không khớp với phiếu bảo hành gốc.</li>
            <li> Khi nhận hàng quý khách kiểm tra lại hàng: Serial, tem bảo hành của nhà sản xuất, nhà cung cấp và của công ty</li>
            <li> Màn hình bị sọc, bầm dập do va chạm đối với LCD và Laptop</li>
            <li> Các thiết bị hao mòn trong quá trình sử dụng như: Drum, gạt, dầu kim...</li>
            <li> Các lỗi phần mềm, Viruts tin học làm hỏng, xóa phần điểu khiển thiết bị người dùng chưa có kinh nghiệm</li>
        </ul>
    </div>

</body>
</html>
